***Tópicos da Aula 3***

1) Variáveis

2) Operadores

----------------------------------------------------------
**Variáveis** = são utilizadas para armazenar valores para ser utilizados posteriormente. 

(Ex.: a = "Escola de Ensino Técnico do Estado do Pará")

Se quisermos imprimir o valor de uma variável, utilizamos a função ***print()***

(Ex¹ print(7) )

(Ex² print(a) )

----------------------------------------------------------

**É importante mencionar que existem algumas regras para uso de variáveis**

----------------------------------------------------------

***Variáveis e operadores***

In [ ]:
# Atribuindo o valor 7 a variável "a"
a = 7

In [ ]:
# Imprimindo o valor da variável "a"
a

In [ ]:
# Imprimindo o valor da variável "a"
print(a)

In [ ]:
# Atribuindo outro valor na variável "a"
a = 9

In [ ]:
# Imprimindo o novo valor da variável "a"
print(a)

In [ ]:
# Não é possível utilizar uma variável que não foi definida (Retorna mensagem de erro)
ab1

In [ ]:
# Verificando o tipo da variável "a"
type(a)

***Definindo múltiplas variáveis***

In [ ]:
aluno1, aluno2, aluno3 = "José", "João Batista", "Jeremias"

In [ ]:
aluno1

In [ ]:
aluno2

In [ ]:
aluno3

In [ ]:
servidor1 = professor1 = coordenador1 = "Raimundo Júnior"

In [ ]:
servidor1

In [ ]:
professor1

***Características de variáveis***

In [ ]:
a1 = "Congresso Brasileiro de Informática na Educação"

In [ ]:
print(a1)

In [ ]:
# É retornado uma mensagem de erro, pois o python não permite o início de variável com números
1a = "Congresso Brasileiro de Informática na Educação"

***Palavras reservadas***

In [ ]:
# Não é possível utilizar palavras reservadas para criar uma variável
False = "Congresso Brasileiro de Informática na Educação"

***Trabalhando com múltiplas variáveis***

In [ ]:
# Substituir os coeficientes na fórmula do discriminante
a = 3
b = 2
c = 5
delta = (pow(b, 2)) - (4*a*c)
print(delta)

***Operação com variáveis***

In [ ]:
anoAtual = 2020

In [ ]:
anoNascimento = 1986

In [ ]:
anoAtual - anoNascimento

***Concatenação de variáveis***

In [ ]:
nome = "Steve"

In [ ]:
sobrenome = "Jobs"

In [ ]:
fullName = nome + " " + sobrenome
print(fullName)

Caderno python criado por: Prof. Raimundo Júnior

Data: 12 Nov 2020